@inherits GridElement
@implements IDisposable

<style>
    .@UniqueClassCssForClipContainer {
        cursor: @CursorMode;
    }
</style>

@{
    base.BuildRenderTree(__builder);
}

@code {
    static RenderFragment DefaultVerticalGrip =@<div style="@GetDefaultGripStyle("vertical")"></div>;

    static RenderFragment DefaultHorizontalGrip =@<div style="@GetDefaultGripStyle("horizontal")"></div>;
}
