<div style="@StyleCss">
    <CascadingValue IsFixed="true" TValue="Grid" Value="this">
        @GridRowDefinitions
        @GridColumnDefinitions
        @ChildContent
    </CascadingValue>
</div>

@code {
    List<GridRowDefinition> _rowsUnordered = new();
    List<GridColumnDefinition> _columnsUnordered = new();

    // OrderBy is used because it is a stable sort so that columns without explicit sort
    // order will maintain their relative position.
    IEnumerable<GridRowDefinition> Rows => _rowsUnordered.OrderBy(row => row.SortOrder ?? 0);
    IEnumerable<GridColumnDefinition> Columns => _columnsUnordered.OrderBy(col => col.SortOrder ?? 0);

    [Parameter]
    public string RootWidthCss
    {
        get;
        set;
    } = "100%";

    [Parameter]
    public string RootHeightCss
    {
        get;
        set;
    } = "100%";

    [Parameter]
    public RenderFragment? GridRowDefinitions
    {
        get;
        set;
    }

    [Parameter]
    public RenderFragment? GridColumnDefinitions
    {
        get;
        set;
    }

    [Parameter]
    public RenderFragment? ChildContent
    {
        get;
        set;
    }

    string StyleCss => $"display: grid; grid-template-rows: {GridTemplateRowsCss}; grid-template-columns: {GridTemplateColumnsCss}; overflow: clip; box-sizing: border-box; width: {RootWidthCss}; height: {RootHeightCss};";

    internal void AddRow(GridRowDefinition row)
    {
        _rowsUnordered.Add(row);
        StateHasChanged();
    }

    internal void AddColumn(GridColumnDefinition column)
    {
        _columnsUnordered.Add(column);
        StateHasChanged();
    }

    internal void RemoveRow(GridRowDefinition row)
    {
        _rowsUnordered.Remove(row);
        StateHasChanged();
    }

    internal void RemoveColumn(GridColumnDefinition column)
    {
        _columnsUnordered.Remove(column);
        StateHasChanged();
    }

    internal bool IsRowSizedToContent(int startIndex, int span)
    {
        return Rows.Skip(startIndex).Take(span).Any(r => string.Equals(r.Height.Trim(), "auto", StringComparison.OrdinalIgnoreCase));
    }

    internal bool IsColumnSizedToContent(int startIndex, int span)
    {
        return Columns.Skip(startIndex).Take(span).Any(r => string.Equals(r.Width.Trim(), "auto", StringComparison.OrdinalIgnoreCase));
    }

    string GridTemplateRowsCss => GetGridTemplateCss(Rows, r => r.Height);

    string GridTemplateColumnsCss => GetGridTemplateCss(Columns, c => c.Width);

    string GetGridTemplateCss<T>(IEnumerable<T> templateElements, Func<T, string> templateElementDimensionSelector) => templateElements.Any()
        ? string.Join(' ', templateElements.Select(e => GetGridTemplateElementCss(templateElementDimensionSelector(e))))
        : "1fr";

    string GetGridTemplateElementCss(string dimensionSpec)
    {
        var dim = dimensionSpec.Trim();
        if (string.Equals(dim, "auto", StringComparison.OrdinalIgnoreCase))
        {
            return "max-content";
        }

        if (dim.EndsWith('*'))
        {
            var frsStr = dim.Substring(0, dim.Length - 1);
            var frs = frsStr.Any() ? double.Parse(frsStr) : 1.0;
            return $"{frs}fr";
        }

        return $"{double.Parse(dim)}px";
    }
}
