@inherits ElementBase<Grid>

<style>
	.@UniqueClassCss {
		grid-row: @GridRowStartCss / span @GridRowSpanCss;
		grid-column: @GridColumnStartCss / span @GridColumnSpanCss;
		overflow: clip;
		box-sizing: border-box;
		/*width: @ElementWidthCss;
		height: @ElementHeightCss;*/
		width: 100%;
		height: 100%;
		min-width: 0;
		min-height: 0;
		/*justify-self: @HorizontalAlignmentCss;
		align-self: @VerticalAlignmentCss;
		margin: @MarginCss;*/
		display: grid;
		grid-template-rows: 100%;
		grid-template-columns: 100%;
		justify-items: @HorizontalAlignmentCss;
		align-items: @VerticalAlignmentCss;
	}

	.@UniqueClassCss > * {
		width: @ElementWidthCss;
		height: @ElementHeightCss;
		margin: @MarginCss;
		box-sizing: border-box;
	}
</style>
<div class="@UniqueClassCss">
	@ChildContent
</div>

@code {

	[Parameter]
	public int Row
	{
		get;
		set;
	} = 0;

	[Parameter]
	public int Column
	{
		get;
		set;
	} = 0;

	[Parameter]
	public int RowSpan
	{
		get;
		set;
	} = 1;

	[Parameter]
	public int ColumnSpan
	{
		get;
		set;
	} = 1;

	protected override bool HorizontalStretch => HorizontalAlignment == HorizontalAlignment.Stretch && !Parent.IsColumnSizedToContent(Column, ColumnSpan);

	protected override bool VerticalStretch => VerticalAlignment == VerticalAlignment.Stretch && !Parent.IsRowSizedToContent(Row, RowSpan);

	int GridRowStartCss => Row + 1;

	int GridRowSpanCss => RowSpan;

	int GridColumnStartCss => Column + 1;

	int GridColumnSpanCss => ColumnSpan;
}
